@using Microsoft.AspNetCore.Identity
@using PrimaImoti.DataModels
@inject SignInManager<PrimaImotiUser> SignInManager
@inject UserManager<PrimaImotiUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrimaImoti</title>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/fontello.css">
    <link href="~/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="~/assets/css/price-range.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/assets/css/wizard.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

</head>
<body>
    <header>
        <!-- Body content -->
        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> 052 697 070 / 0877107264</span>
                                <span><i class="pe-7s-mail"></i> primaimoti@abv.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End top header -->

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html"><img src="~/img/primalogo2.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <button class="navbar-btn nav-button wow fadeInRight" onclick="window.open('/Property/AddEstate')">Добави Имот</button>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" asp-controller="Admin" asp-action="DashBoard">Админ панел</a></li>

                        }

                        <li>
                            <a asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="properties.html">Имоти</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="property.html">За нас</a></li>
                        <li class="dropdown yamm-fw" data-wow-delay="0.1s">
                            <a href="#" class="dropdown" data-hover="dropdown" data-delay="200">Тип Имот<b class="caret"></b></a>
                            <ul class="dropdown-menu navbar-nav">
                                <li>
                                    <a asp-controller="Property" asp-action="Find">Едностаен</a>
                                </li>
                                <li>
                                    <a>Двустаен</a>
                                </li>
                                <li>
                                    <a>Тристаен</a>
                                </li>
                                <li>
                                    <a>Четиристаен</a>
                                </li>
                                <li>
                                    <a>Многостаен</a>
                                </li>
                                <li>
                                    <a>Къща</a>
                                </li>
                                <li>
                                    <a>Гараж</a>
                                </li>
                            </ul>
                        </li>

                        <li class="wow fadeInDown" data-wow-delay="0.4s"><a asp-controller="Contact" asp-action="Contact">Контакти</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->
        <!--Old Header-->

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <!-- Footer area-->
        <div class="footer-area">

            <div class="footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>За нас </h4>
                                <div class="footer-title-line"></div>

                                <img src="~/img/primalogo2.png" alt="" class="wow pulse" data-wow-delay="1s">
                                <p>Свържете се с нас.</p>
                                <ul class="footer-adress">
                                    <li>
                                        <i class="pe-7s-map-marker strong"> </i>гр.Варна ул. "Екатерина Симитчиева" 6
                                        ет.1, офис 1
                                    </li>
                                    <li><i class="pe-7s-mail strong"> </i>primaimoti@abv.bg</li>
                                    <li><i class="pe-7s-call strong"> </i>052 697 070</li>
                                    <li><i class="pe-7s-call strong"> </i>0877107264</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Бързи линкове</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a asp-controller="Home" asp-action="Index">Начало</a>  </li>
                                    <li><a asp-controller="Property" asp-action="AllEstates">Имоти</a></li>
                                    <li><a asp-controller="Property">Тип Имот</a></li>
                                    <li><a asp-controller="Home" asp-action="AboutUs">За нас</a></li>
                                    <li><a asp-controller="Contact" asp-action="Contact">Контакти</a>  </li>
                                    <li><a asp-controller="Property" asp-action="AddEstate">Добави Имот</a>  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Последно добавени</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-blog">
                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="~/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="~/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="~/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="">Pramatarov</a> , All rights reserved 2019  </span>
                        </div>
                        <div class="bottom-menu pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" asp-controller="Home" data-wow-delay="0.2s">Начало</a></li>
                                <li><a class="wow fadeInUp animated" asp-controller="Property" asp-action="AllEstates" data-wow-delay="0.3s">Имоти</a></li>
                                <li><a class="wow fadeInUp animated" asp-controller="Contact" data-wow-delay="0.6s">Контаки</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/assets/js//jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>
    <script src="~/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/assets/js/easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/icheck.min.js"></script>

    <script src="~/assets/js/price-range.js"></script>
    <script src="~/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/wizard.js"></script>

    <script src="~/assets/js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
